table {
    border-collapse: separate;
    border-spacing: 0 15px;
    border-radius: 4px;
}

.tableColumn {
    padding: 5px;
}

.buttonS2 {
    border-style: solid;
    border-width: 2px;
    border-color: #C0C0C0;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    display: inline-block;
    position: relative;
    height: auto;
    text-align: center;
    box-shadow: 6px 6px 10px #f0f0f0;
    background: #FAFAFA;
}