@inject NavigationManager _navigationManager
@page "/"

<div style="text-align: center;padding-top: 1.1rem;">
    
    <MatH2>Willkommen zu WaffleDB!</MatH2>
    <p>
        <img style="margin-top: 10px;" src="Images/waffelDB.png" asp-append-version="true" width="250" />
    </p>

    <button style="margin-top: 10px;" class="buttonS1" @onclick="OnClickOrder">
        <b>Waffel bestellen</b>
        <MatIcon Style="position: relative; top:5px;" Icon="local_dining"></MatIcon>
    </button>

</div>
@code
{

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected void OnClickOrder(MouseEventArgs m) => _navigationManager.NavigateTo("/order");
    


}
