@inject NavigationManager _navigationManager
@page "/order/f"


<div style="text-align: center">

    <MatH3>Danke!</MatH3>
    <MatH5>Ihre Bestellung wird Ihnen gebracht.</MatH5>

    <button style="margin-top: 10px; padding: 10px;" class="buttonS1" @onclick="OnClickOrder">
        <span>Zurück</span>
        <MatIcon Style="position: relative; top: 5px;" Icon="exit_to_app"></MatIcon>
    </button>

</div>

@code {
    protected void OnClickOrder(MouseEventArgs m) => _navigationManager.NavigateTo("/");
}
