.sidebar {
    background: #F9F9F9;
    width: 250px;
    height: 100vh;
    /*position: sticky;*/
    top: 0;
}

.content {
    padding-top: 1.1rem;
}

.offsetButton {
    position: fixed;
    bottom: 50px;
    right: 40px;
}

