@using WaffleDB

<div Class="box">
    @if (Product != null)
    {
    <div style="text-align: center">
        <b class="price">@Product.price.ToString("F2") €</b><br />
        @switch (Product.idProduct)
        {
            case 1: //"BananenWaffel"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/bananaProductImage.png" />
                break;
            case 2: //"SchokoWaffel"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/chocProductImage.png" />
                break;
            case 3: //"MegaSchokoWaffel"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/magachocProductImage.png" />
                break;
            case 4: //"ApfelWaffel"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/appleProductImage.png" />
                break;
            case 5: //"Waffel Ohne Alles"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/waffelProductImage.png" />
                break;
            case 6: //"Blaubeer Waffel"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/blueberryProductImage.png" />
                break;
            case 7: //"Waffel mit Zucker"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/sugarProductImage.png" />
                break;
            case 8: //"Coloa"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/cola.png" />
                break;
            case 9: //"Kakao"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/cocoa.png" />
                break;
            case 10:    //"Kaffe"
                <img class="image" width="110" asp-append-version="true" src="Images/Products/coffee.png" />
                break;
            default:
                <img class="image" width="110" asp-append-version="true" src="/Images/Products/defaultProductImage.png" />
                break;
        }
        <h6 class="name"><b>@Product.name</b></h6>
    </div>

    }
</div>
@code {
    
    [Parameter]
    public Product Product{get; set; }
    






}

