
table {
    border-collapse: separate;
    border-spacing: 0 15px;
    border-radius: 4px;
}

.tableColumn {
    padding: 5px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: rgba(200,200,200,0.2);
    border-radius: 50%;
    display: inline-block;
    border: none;
    align-items: center;
    text-align: center;
}
