.dot {
    height: 30px;
    width: 30px;
    background-color: rgba(200,200,200,0.2);
    border-radius: 50%;
    display: inline-block;
    border: none;
    align-items: center;
    text-align: center;
}

#banner {
    width: 100%;
    height: auto;
}