
<div Class="box" Elevation="3" Rounded="true">
    @if (Product != null)
    {
    <div style="text-align: center">
        <b class="price">@Product.price €</b><br />
        @switch (Product.idProduct)
        {
            case 1: //"BananenWaffel"
                <img class="image" width="110" src="Images/Products/bananaProductImage.png" />
                break;
            case 2: //"SchokoWaffel"
                <img class="image" width="110" src="Images/Products/chocProductImage.png" />
                break;
            case 3: //"MegaSchokoWaffel"
                <img class="image" width="110" src="" />
                break;
            case 4: //"ApfelWaffel"
                <img class="image" width="110" src="" />
                break;
            case 5: //"Waffel Ohne Alles"
                <img class="image" width="110" src="" />
                break;
            case 6: //"Blaubeer Waffel"
                <img class="image" width="110" src="" />
                break;
            case 7: //"Waffel mit Zucker"
                <img class="image" width="110" src="" />
                break;
            case 8: //"Coloa"
                <img class="image" width="110" src="" />
                break;
            case 9: //"Kakao"
                <img class="image" width="110" src="" />
                break;
            case 10:    //"Kaffe"
                <img class="image" width="110" src="" />
                break;
            default:
                <img class="image" width="110" src="/Images/Products/defaultProductImage.png" />
                break;
        }
        <h6 class="name"><b>@Product.name</b></h6>
    </div>

    }
</div>
@code {
    
    [Parameter]
    public Product Product{get; set; }
    

}
